{% extends 'common.html' %}
{% load static %}
{% block header %}

<div class="mil-content-pad mil-p-100-100">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <center>
                <h2><b>Login</b></h2>
            </center><br><br>
            <div class="row">
                <div class="col-xl-6">
                    <div class="mil-field-frame mil-mb-20">
                        <label>Email</label>
                        <input type="email" placeholder="Enter your email" name="email" required>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-mail">
                            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                            </path>
                            <polyline points="22,6 12,13 2,6"></polyline>
                        </svg>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="mil-field-frame mil-mb-20">
                        <label>Password</label>
                        <input type="text" placeholder="Enter Password" name="password" required
                           
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-password">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                            <circle cx="12" cy="7" r="4"></circle>
                        </svg>
                    </div>
                </div>

            </div>
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <p class="mil-fade-up"><span class="mil-accent-2">*</span>We promise not to disclose your personal
                        information to third parties.</p>
                </div>
                <div class="col-lg-5">
                    <div class="mil-desctop-right mil-fade-up">
                        <button type="submit" class="mil-button">
                            <span>Login</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}