{% extends 'Guest/common.html' %}
{% load static %}
{% block header %}

<div class="mil-content-pad mil-p-100-100">
    <div class="container">
        <div class="mil-text-center">
            <div class="mil-suptitle mil-mb-20 mil-fade-up">Blog</div>
            <h2 class="mil-mb-100 mil-fade-up">Popular publications</h2>
        </div>
        <div class="row mil-mb-40">
            {% for i in events %}
            <div class="col-md-6 col-xl-6">

                <a href="publication.html" class="mil-card mil-mb-40-adapt mil-fade-up">
                    <div class="swiper-container mil-card-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="mil-card-cover">
                                    <img src="/static/media/{{i.image}}" alt="cover" data-swiper-parallax="-100"
                                        data-swiper-parallax-scale="1.1">
                                </div>
                            </div>
                        </div>
                        <div class="mil-card-nav">
                            <div class="mil-slider-btn mil-card-prev">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg>
                            </div>
                            <div class="mil-slider-btn mil-card-next">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="mil-card-pagination"></div>
                    </div>
                    <ul class="mil-parameters">
                        <li>
                            Start Time &nbsp;
                            <div class="mil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-clock">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <polyline points="12 6 12 12 16 14"></polyline>
                                </svg>
                            </div>
                            <div>{{i.start_time}}</div>
                        </li>
                        <li>
                            End Time &nbsp;
                            <div class="mil-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-clock">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <polyline points="12 6 12 12 16 14"></polyline>
                                </svg>
                            </div>
                            <div>{{i.end_time}}</div>
                        </li>
                        <li>
                            <div class="mil-icon">
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M13.1881 2.62402H3.18597C2.35736 2.62402 1.68564 3.29574 1.68564 4.12435V13.1263C1.68564 13.9549 2.35736 14.6266 3.18597 14.6266H13.1881C14.0168 14.6266 14.6885 13.9549 14.6885 13.1263V4.12435C14.6885 3.29574 14.0168 2.62402 13.1881 2.62402Z"
                                        stroke="#272746" stroke-width="1.00189" stroke-linejoin="round" />
                                    <path d="M4.18536 1.62305V2.63226" stroke="#272746" stroke-width="1.00189"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12.188 1.62305V2.63226" stroke="#272746" stroke-width="1.00189"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M14.6885 5.12402H1.68564" stroke="#272746" stroke-width="1.00189"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div>{{i.date}}</div>
                        </li>
                    </ul>
                    <div class="mil-descr">
                        <h3 class="mil-mb-20">{{i.name}}</h3>
                        <p class="mil-mb-20">{{i.description}}</p>
                        <div class="mil-divider"></div>
                        <div class="mil-card-bottom">
                            <div class="mil-link">
                                <span>Delete Now</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-trash-2">
                                    <polyline points="3 6 5 6 21 6"></polyline>
                                    <path
                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                    </path>
                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <p class="mil-fade-up">Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.</p>
            </div>
            <div class="col-lg-5">
                <div class="mil-desctop-right mil-fade-up">
                    <a href="blog.html" class="mil-button">
                        <span>View all</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}